* { margin: 0; padding: 0; } /* Hard reset */

/* The following styles are essential to the slider's functionality */

	.plusslider {
		overflow: hidden;
		position: relative;
		padding: 60px 0; /* The height / width of the slider should never be set via the CSS. The padding increases the slider box-model while keeping it dynamic */
	}

	.plusslider-container { position: relative; }
	
	/* Slides must have a set width - even though they may be dynamic. If no width is set on <img> slides, the default image size will be assumed */
	div.child { width: 550px; }

	.plusslider .child { float: left; }

	/* PlusFader Specific (not needed with plustype:slider */
	.plustype-fader .child { display: none; position: absolute; left: 0; top: 0; }
	.plustype-fader .current { z-index: 5; }
	/* End PlusFader Specific */

	/* No-javascript fallback -- change "#slider" and "#slider2" identifiers as needed for your html */
	#slider > * { display: none; }
	#slider > *:first-child, #slider2 > *:first-child { display: block; }
	/* End no-javascript fallback */

/* End essential styles*/

/* The following styles are not essential for slider functionality. They are specific to the example content.
   It is important to note that the fading effect does not work correctly with non-image content unless that
   content area has a solid background (either a background image or a background-color, but not transparent).

	Slides to not have to be the same width or height, but if you'd like a consistent width and/or height, make sure to set that within the CSS! */
	#slider .slide1 { padding-left: 40px; padding-right: 40px; margin-left: 0; margin-right: 0; } 
	#slider .slide1 { height: 210px; padding-top: 20px; padding-bottom: 20px; margin-top: 0; margin-bottom: 0; } 

	.slide1 { background: url(../images/image1.jpg) no-repeat left top; height: 210px; padding: 20px 40px; }
	.slide1 h2 { color: #fff; font-size: 20px; margin: 0 0 20px 0; text-align: left; }
	.slide1 p { border-left: 3px solid #fff; color: #fff; padding: 0 0 0 10px; }

	.quote, .quote2, .quote3 { height: 170px; padding: 20px 0; width: 580px; font: 24px Georgia, serif; text-align: center; width: 100%; position: relative; }
	.quote { background: #f1f1f1; color: #333; }
	.quote2 { background: #333; color: #f1f1f1; }
	.quote3 { background: #666; color: #f1f1f1; }

	.plusslider a img { border: none; } /* Prevent blue borders in IE (not only does it look ugly, but it messes up spacing which breaks the "slider" type */

	.plusslider-pagination { position: absolute; left: 0; bottom: 0; }
	.plusslider-pagination li { float: left; list-style: none; margin-left: 5px; }