/**
	plusslider Version 1.4.6
	By Jamy Golden
	http://css-plus.com
**/

/* plusslider Styling */
.plusslider-container { position: relative; left: 0; }

.plusslider {
	-webkit-background-clip: padding;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.3);
	border: 15px solid rgba(255, 255, 255, 0.3);
	height: 250px;
	margin: 0 auto;
	padding-bottom: 40px;
	overflow: hidden;
	position: relative;
}

.plusslider .child { float: left; }

/* Controls */
.plusslider-pagination-wrapper {
	background-color: #f1f1f1; /* fallback color */
	background-image: url(../images/svg-gradient.svg); /* Gradient support for IE9 and Opera */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#ccc));
	background-image:    -moz-linear-gradient(100% 100% 90deg, #ccc, #f1f1f1);
	background-image:     -ms-linear-gradient(100% 100% 90deg, #ccc, #f1f1f1);
	background-image:      -o-linear-gradient(100% 100% 90deg, #ccc, #f1f1f1);
	background-image:         linear-gradient(100% 100% 90deg, #ccc, #f1f1f1);
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	   -moz-border-radius-bottomleft: 10px;
	   -moz-border-radius-bottomright: 10px;
	        border-bottom-left-radius: 10px;
	        border-bottom-right-radius: 10px;
	-webkit-background-clip: padding;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
	height: 40px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 500;
}

.plusslider-pagination {
	display: table;
	margin: 0 auto;
	padding: 15px 0;
}

.plusslider-pagination li {
	background: url(../images/plus-sprite.png) no-repeat left top;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 0;
	height: 10px;
	margin: 0 3px;
	text-indent: -9999px; /*IE6 fix */
	width: 10px;
	position: relative;
}

.plusslider-pagination .current, .plusslider-pagination li:hover {
	background-position: -10px 0;
}

.plusslider-arrows li {
	background: url(../images/plus-sprite.png) no-repeat left top;
	cursor: pointer;
	display: block;
	height: 32px;
	margin-top: -16px;
	opacity: 0;
	width: 32px;
	position: absolute;
	top: 50%;
	z-index: 200;
	text-indent: -9999px;

	/* Fade in/out .arrows on hover */
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in;
	   -moz-transition-property: opacity;
	   -moz-transition-duration: 0.2s;
	   -moz-transition-timing-function: ease-in;
		-ms-transition-property: opacity;
		-ms-transition-duration: 0.2s;
		-ms-transition-timing-function: ease-in;
		 -o-transition-property: opacity;
		 -o-transition-duration: 0.2s;
		 -o-transition-timing-function: ease-in;
			transition-property: opacity;
			transition-duration: 0.2s;
			transition-timing-function: ease-in;
}

.plusslider:hover .plusslider-arrows li {opacity: 1; }
.plusslider-arrows .prev {background-position: 0 -10px; left: 10px; }
.plusslider-arrows .prev:hover {background-position: 0 -42px; left: 10px; }
.plusslider-arrows .next {background-position: -33px -10px; right: 10px; }
.plusslider-arrows .next:hover {background-position: -33px -42px; }

/* PlusFader Specific */
.plustype-fader .child { display: none; position: absolute; left: 0; top: 0; }
.plustype-fader .current { z-index: 2; }
.plustype-fader .plusslider-pagination { position: relative; z-index: 200; }

/* no-javascript fallback */
	.plusslider-container > * { display: none; }
	.plusslider-container > *:first-child { display: block; }
/* End no-javascript fallback */
.plusslider-container .child { display: block; } /* Counter no-js fallback for cloned elements. Necessary for infiniteSlide. Without this the DOM doesn't know the position of the element */
